* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

.App {
  max-width: 1230px;
  min-height: 100vh;
  border: 1px solid #eee;
  box-shadow: 0px 0px 35px #eee;
  margin: 0 auto;
}

/*-------------------------image upload-------------------------*/

.upload {
  height: 500px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  color: #3f51b5;
  font-size: 15rem;
  cursor: pointer;
  text-align: center;
  margin: auto;
  padding-top: 80px;
}
#file_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}

.load_more {
  text-align: center;
  margin: 10px auto;
}
.load_more button {
  font-size: 17px;
  padding: 10px 25px;
  margin-bottom: 20px;
  border: 1px solid #555;
  text-transform: capitalize;
  cursor: pointer;
}
